@inject myTube.Data.Repositories.VideoRepository _videoRepository

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myTube</title>
    <link rel="shortcut icon" href="/img/mytube-32x32.png" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="manifest" href="/manifest.json">

    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/toastr/build/toastr.css" rel="stylesheet" />
    <link href="~/img/mytube-64x64.png" rel="apple-touch-icon" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top navbar-toggleable-sm border-bottom box-shadow mb-5">
            <div class="container-fluid">
                <img src="~/img/myTube-32x32.png" width="32" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">myTube</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white-50" asp-area="" asp-controller="Canal" asp-action="Index">Canais</a>
                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link text-white-50" asp-area="" asp-controller="Video" asp-action="Index">Videos <sup><span id="naoassistido" class="badge badge-pill badge-info">@await Component.InvokeAsync("HeaderInfo")</span></sup></a>*@
                                @{
                                    var userId = User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Sid).FirstOrDefault().Value;

                                    // USANDO INJEÇÃO DE DEPENDÊNCIA (@inject)
                                    var badge = (await _videoRepository.GetListIndex(Guid.Parse(userId), null, 0)).TotalItems.ToString();
                                }
                                <a class="nav-link text-white-50" asp-area="" asp-controller="Video" asp-action="Index">Videos <sup><span id="naoassistido" class="badge badge-pill badge-info">@badge</span></sup></a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">

        <main role="main" class="pb-3">

            <br />
            @if (TempData["msg-error"] != null)
            {
                <div class="alert alert-danger">@TempData["msg-error"]</div>
            }

            @if (TempData["msg-success"] != null)
            {
                <div class="alert alert-success">@TempData["msg-success"]</div>
            }

            @if (TempData["msg-primary"] != null)
            {
                <div class="alert alert-primary">@TempData["msg-primary"]</div>
            }

            @RenderBody()
        </main>
    </div>

    <div id="modal-placeholder"></div>

    @*<footer class="border-top footer text-muted">
            <div class="container-fluid">
                &copy; 2021 - myTube - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
