@model IEnumerable<myTube.Domain.Entities.Canal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaBusca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ThumbnailMinUrl)" />
            </td>
            <td>
                @{
                    if (item.Title == null)
                    {
                        <label>-------------------------</label>
                    }
                    else 
                    { 
                        @Html.DisplayFor(modelItem => item.Title)
                    }
                }
            </td>
            <td>
                @{
                    if (item.UltimaBusca == null)
                    {
                        <label>Nunca</label>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.UltimaBusca)
                    }
                }
            </td>
            <td>
                @{
                    if (item.UltimoVideo == null)
                    {
                        <label>Nenhum</label>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.UltimoVideo)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
